body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header
{
width:100%;
height:15vh;
background-image :linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../img/nature.jpg');
background-repeat: no-repeat;
background-size: cover;
}

header nav
{
width: 100%;
height: 15vh;
background : rgba(0,0,0,0.6);
color:white;
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
}

header nav .logo
{
width:25%;
text-align: center;
}

header nav .menu
{
float: right;
margin-top: 30px;
}

header nav .menu li
{
display : inline-block;
list-style: none;
margin-left: 40px;
margin-right: 20px;
}

header nav .menu a
{
padding: 5px 0px;
width : 25%;
text-decoration: none;
color: white;
font-weight: bold;
}

header nav .menu a:hover
{
border-bottom: 2px solid #EC50BC;
}

main h3{
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 35px;
	margin: 0;
}

.flex{
	display: flex;
	margin: 10px;
	flex-wrap: wrap;
	max-width: 1400px;
	padding-left : 60px;
	padding-bottom : 50px;
}

.flex .box{
	background-color: red;
	padding: 20px;
	margin : 0;
	margin-bottom: 60px;
	color: white;
	width: 450;
	max-height: 400;
}

.price span{
	font-size: 30px;
	font-weight: bold;
}
.price{
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.date{
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

.about .features{
	padding-bottom: 10px;
	border-bottom: 0.3px solid black;
	padding-left: 5px;
}
	
.features span{
	font-size: 20px;
	font-weight: bold;
}

.register{
	text-align: center;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	background: white;
	font-weight: bold;
	margin-bottom: 25px;
	transition: all ease-in-out .2s;
	border: 2px solid #8BC34A;
	color: black;
	font-size: 18px;
	cursor: pointer;
}

.effect:hover{
	background-color: #8BC34A;
	color: white;
	border: 1px solid black;
}

.image img{
display:block;
border-radius:5px;
margin-bottom: 60px;
margin-left: 80px;
width : 300;
height : 300;
}
.image img:hover{
transform:scale(1.3);
z-index:2;
}

.day{
	max-width: 800px;
	margin: 15px;
	margin-top: 0;
	padding: 35px;
	padding-top: 0px;
	background: #F4F6F6;
	border-radius: 5px;
	border: 0.5px solid black;
}

.head{
	font-size: 20px;
	font-weight: 400;
	background-color: #F4ECF7 ;
}

.day h4{
	font-size: 18px;
}

.aboutday{
	text-indent: 50px;
}

.head span{
	font-size: 30px;
	background-color: orange;
	padding : 5px;
	font-weight: 600;
}

.food{
	display: flex;
}

.meal{
	display: flex;
	border-radius: 5px;
	margin-right: 20px;
	border : 0.2px solid grey;
	padding-top: 15px;
	padding-bottom : 10px;
	width: 150;
	height: 25;
	justify-content: center;
}
.meal span{
	padding-right: 8px;
}

.night{
	display: flex;
	border-radius: 5px;
	border : 0.2px solid grey;
	padding-top: 15px;
	padding-bottom : 10px;
	width: 150;
	height: 25;
	justify-content: center;
}

.night span{
	padding-right: 8px;
}

footer{
width: 100%;
background: #111;
color: white;
}

.main-content{
display: flex;
}

.main-content .box{
flex-basis: 50%;
padding: 10px 20px;
}

.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
}

.box .content{
margin: 20px 0 0 0;
position: relative;
}

.box .content:before{
position: absolute;
content: '';
top: -10px;
height: 2px;
width: 100%;
background: #1a1a1a;
}

.box .content:after{
position: absolute;
content: '';
height: 2px;
width: 15%;
background: #f12020;
top: -10px;
}

.left .content p{
text-align: justify;
}

.left .content .social{
margin:20px 0 0 0;
}

.left .content .social a{
padding: 0 2px;
}

.left .content .social a span{
color: white;
height: 40px;
width: 40px;
background: #1a1a1a;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 5px;
transition: 0.3s;
cursor: pointer;
}

.left .content .social a span:hover{
background: #f12020;
}

.center .content .fas{
font-size: 1.4375rem;
background: #1a1a1a;
height: 45px;
width: 45px;
line-height: 45px;
text-align: center;
border-radius: 50%;
transition: 0.3s;
cursor: pointer;
}

.center .content .fas:hover{
background: #f12020;
}

.center .content .text{
font-size: 1rem;
font-weight: 500;
padding-left: 10px;
}

.center .content .phone{
margin: 10px 0;
}

.right for .text{
font-size: 1.0625rem;
margin-bottom: 2px;
color: #656565;
}

.right form .msg{
margin-top: 10px;
}

.right form input, .right form textarea{
color: white;
width: 100%;
font-size: 1.0625rem;
background: #151515;
padding-left: 10px;
border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus{
outline-color: #3498db;
}

.right form input{
height: 30px;
}

.right form .btn{
margin-top: 10px;
}

.right form .btn button{
height: 40px;
width: 100%;
border: none;
outline: none;
background: #f12020;
font-size: 1.0625rem;
font-weight: 500;
cursor: pointer;
transition: 0.3s;
}

.right form .btn button:hover;{
background: #000;
}

.bottom center{
padding: 5px;
font-size: 0.9375rem;
background: #151515;
}

.bottom center span{
color: #656565;
}

.bottom center a{
color: #f12020;
text-decoration: none;
}

.bottom center a:hover{
text-decoration: underline;
}

@media screen and (max-width: 900px){
	footer{
		position: relative;
		bottom: 0px;
	}

	.main-content{
		flex-wrap: wrap;
		flex-direction: column;
	}

	.main-content .box{
		margin: 5px 0;
	}
}
